@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 100%;
    background-image: url(imagens/blue_-_22908\ \(Original\).mp4);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}
#myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
  }
#conteudo{
    border-radius: 10px;
    margin: auto;
    width: 650px;
    height: 500px;
    position: absolute;
    top: 5%;
    left: 30%;
    background-image: linear-gradient(to right,#5b5ca3,#494bc7,#3e40b6,#282970);
    box-shadow: 60px black ;
    

    

}
#cima{
    font-size: 150px;
    position: relative;
    top: 60px;
    

}
#baixo{
    font-size: 150px;
}
#icones{
    position: relative;
    left: 10px;
}
#git{
    width: 20px;
   position: relative;
   bottom: 220px;
   left: 250px;
}
#git:hover{
    transform: scale(1.1);
}
#link:hover{
    transform: scale(1.1);
}
#file:hover{
    transform: scale(1.1);
}
#link{
    width: 20px;
   position: relative;
   bottom: 286px;
   left: 325px;
}
#file{
    width: 20px;
   position: relative;
   bottom: 353px;
   left: 400px;
}
p{
    font-size: 18px;
  width: 400px; 
  float: right;
  margin-right: 10px;
 font-family: 'Times New Roman', Times, serif;
}