@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imagens/blue_-_22908\ \(Original\).mp4);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    height: 700px;
}
    
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#menu>ul>li{
    display: inline;
    margin: 10px;
    
}
#menu{
    font-family: 'open_sansregular';
    border-radius: 6px;
    padding: 15px;
    width: 350px;
    margin: 40px;
    font-size: 30px;

  }
  #menu >li{
      display: block;
      list-style: none;
      margin: 0 15px 0;
      padding: 10px 0;
      border-bottom: 1px #2e66af solid;
  }
  #menu >li:last-child {
      border-bottom:0;
  }
  li> a{
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
  }
  li> a:hover{
   
    color: #aeb0fa ;
  }

#conteiner{
    position: relative;
    margin: auto;
    
}
#conteudo1{
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    width: 650px;
    height: 500px;
    background-image: linear-gradient(to right,#5b5ca3,#494bc7,#3e40b6,#282970);
    box-shadow: 60px black ;
}

#cima{
    font-size: 150px;
    position: relative;
    top: 60px;
    

}
#baixo{
    font-size: 150px;
}
#icones{
    position: relative;
    left: 15px;
    
}
#git{
    width: 20px;
   position: relative;
   bottom: 220px;
   left: 250px;
}
#git:hover{
    transform: scale(1.1);
}
#link:hover{
    transform: scale(1.1);
}
#file:hover{
    transform: scale(1.1);
}
#link{
    width: 20px;
   position: relative;
   bottom: 286px;
   left: 325px;
}
#file{
    width: 20px;
   position: relative;
   bottom: 353px;
   left: 400px;
}
#palavras{
    font-size: 18px;
  width: 400px; 
  float: right;
  margin-right: 10px;
 font-family: 'Times New Roman', Times, serif;
}
#mim{
    width: 900px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
    border: 1px solid red;
}
#linkrei{
    text-decoration: none;
    color: white;
}

